@import '../header/responsivity.scss';
@import '../../variables.scss';

header {
    img {
        height: 70dvh;
        object-fit: cover;
    }

    nav {
        display: flex;
        justify-content: space-between;
        max-width: 1240px;
        margin: auto;

        .nav-logo {
            display: flex;

            span {
                font-size: 1.5rem;
                font-weight: 600;
            }
        }

        .nav-list {
            display: flex;
            flex-direction: row;
            gap: 3dvh;
            list-style: none;

            .nav-link {
                color: $gray-600;
                transition: color .9s;
            }

            .nav-link:hover {
                color: $green-500;
            }
        }

        .nav-icons {

            i {
                margin-right: 2dvh;
                font-size: 1.3rem;
                color: $green-700;
                transition: color .9s;
            }

            i:hover {
                color: $blue-700;
            }
        }

        .nav-btn {
            button {
                height: 5dvh;
                width: 15dvh;
                background-color: $green-700;
                border: 1px solid $gray-50;
                border-radius: 2dvh;
                color: $white;
                transition: background-color .9s;
            }

            button:hover {
                background-color: $blue-700;
            }
        }
    }
}
