.<header>
    <nav>
        <div class="nav-logo">
            <lucide-icon [img]="Heart" color="#36914d">
                
            </lucide-icon>
            <span>NUTRIFIT</span>
        </div>
        <div class="nav-menu">
            <ul class="nav-list">
                <li>
                    <a class="nav-link" href="#">WORKOUTS</a>
                </li>
                <li>
                    <a class="nav-link" href="#">NUTRITION</a>
                </li>
                <li>
                    <a class="nav-link" href="#">RECIPES</a>
                </li>
                <li>
                    <a class="nav-link" href="#">BLOG</a>
                </li>
            </ul>
        </div>
         <div class="nav-btn">
            <button>Subscribe</button>
        </div>
        <div class="nav-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </nav>
    <img src="/gorilla-freak-wt5jg8_WrJg-unsplash.webp" alt="">
    <div class="hero">
        <h1>Transform Your Health & Fitness</h1>
        <p>Discover science-backed workouts, nutrition plans, and wellness tips to help you<br>achieve your fitness goals and live your healthiest life.</p>
        <div class="hero-btn">
            <button class="start-btn">Start Your Journey</button>
            <button class="explore-btn">Explore Workouts</button>
        </div>
    </div>
</header>

